@import "commonstyle.css";

.section_1 {
    height: 750px;
}

.section_1 .background-img {
    background-image: url("images/colombo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.section_1 .background-img .maintext {
    padding: 200px 0 0 100px;
    z-index: 99;
}

h1 {
    color: white;
    font-size: 5em;
    text-shadow: 1px 2px 4px black;
}

.center_para {
    font-size: 1.3em;
    color: #ffffff;
}

.heart_of_colombo .places-bunch {
    display: flex;
    flex-wrap: wrap;
    align-items: center ;
}

.heart_of_colombo h2 {
    border: 2px solid #000000;
    border-radius: 20px;
    width: 400px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
    font-size: 2.0em;
}

.heart_of_colombo .places-bunch h3 {
    border: 1px solid #000000;
    border-radius: 20px;
    width: 300px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5em;
}

.heart_of_colombo .places {
    width: 1460px;
    height: 420px;
    border-radius: 30px;
    margin: 0 30px 30px 30px;
}

.heart_of_colombo .places-bunch .places .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.heart_of_colombo .places-bunch .content .description-left {
    width: 950px;
    height: 300px;
    background: linear-gradient(-60deg, #215391, #00adad);
    box-shadow: 5px 5px 5px 2px rgb(0, 0, 0, 0.2);
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    border-radius: 0 20px 0 20px;
    margin-left: 40px;
}

.heart_of_colombo .places-bunch .content .description-right {
    width: 950px;
    height: 300px;
    background: linear-gradient(-60deg, #215391, #00adad);
    box-shadow: 5px 5px 5px 2px rgb(0, 0, 0, 0.2);
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    border-radius: 0 20px 0 20px;
    margin-right: 40px;
}

.heart_of_colombo .places-bunch .content .image-right {
    width: 400px;
    height: 300px;
    border-radius: 0 20px 20px 20px;
    box-shadow: 5px 5px 5px 2px rgb(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 40px;
}

.heart_of_colombo .places-bunch .content .image-left {
    width: 400px;
    height: 300px;
    border-radius: 0 20px 20px 20px;
    box-shadow: 5px 5px 5px 2px rgb(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 40px;
}

.heart_of_colombo .places-bunch .content #galleface {
    background-image: url("images/gallefaceone.jpg");
}

.heart_of_colombo .places-bunch .content #gangarama {
    background-image: url("images/gangaramatemple.jpg");
}

.heart_of_colombo .places-bunch .content #lotus-tower {
    background-image: url("images/lotus-tower.jpg");
}

.heart_of_colombo .places-bunch .content #port-city {
    background-image: url("images/portcity");
}

.heart_of_colombo .places-bunch .content #lavaniya-beach {
    background-image: url("images/lavaniyabeach.webp");
}

.heart_of_colombo .places-bunch .content #devi-park {
    background-image: url("images/devipark.jpg");
}

.heart_of_colombo .places-bunch .content #museum {
    background-image: url("images/museum.jpg");
}

.heart_of_colombo .places-bunch .content #inde-square {
    background-image: url("images/inde-square.jpg");
}

.heart_of_colombo .places-bunch .content #seethawaka {
    background-image: url("images/seethawaka.jpg");
}

.heart_of_colombo .places-bunch .content #negombo {
    background-image: url("images/negombo.jpg");
}

.heart_of_colombo .places-bunch .content #wadduwa {
    background-image: url("images/wadduwa.jpg");
}

.colombo_suburbs h2{
    text-align: center;
    text-decoration: underline;
    font-size: 2.0em;
    padding: 100px;
}