@import "commonstyle.css";

.section_1 {
    height: 750px;
}

.section_1 .background-image {
    background-image: url(images/nine-archs-brige\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.section_1 .maintext {
    padding: 200px 0 0 100px;
    z-index: 99;
}

h1 {
    color: white;
    font-size: 5em;
    text-shadow: 1px 2px 4px black;
}

.center_para {
    font-size: 1.3em;
    color: #ffffff;
}

/* Default styles */
.destination {
    margin-top: 50px;
    text-align: center;
    text-decoration: underline;
    font-size: 2.0em;
  }
  
  .squreline {
    padding: 50px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .squreline a {
    width: 250px;
    height: 250px;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.05);
    margin: 0 0 30px 30px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.5s;
  }
  
  .squreline a .squre {
    font-size: 30px;
    line-height: 80px;
    position: relative;
    z-index: 10;
    transition: color 0.5s;
  }
  
  /* Media query for smaller screens*/
  @media screen and (max-width: 0px) {
    .squreline {
      padding: 50px 5%;
    }
  
    .squreline a {
      width: 200px;
      height: 200px;
      margin: 0 10px;
      font-size: 20px;
      line-height: 60px;
    }
  }

.squreline a::after {
    content: '';
    width: 100%;
    height: 100%;
    top: -260px;
    left: 0;
    position: absolute;
    transition: 0.5s;
    background: linear-gradient(-60deg, #215391, #00adad);
}

.squreline a:hover::after {
    top: 0;
}

.squreline a:hover .squre {
    color: white;
}

.squreline a:hover {
    transform: translateY(-10px);
}

.section_3 {
    background: linear-gradient(-60deg, #215391, #00adad);
    padding-bottom: 30px;
}

.sometext {
    padding-top: 50px;
    color: white;
    text-align: center;
    text-decoration: underline;
    font-size: 2.0em;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.para_1 {
    text-align: center;
    color: #cbc2c2;
    font-size: 20px;
}

.highlight {
    font-size: 30px;
    font-weight: bold;
}

.section_4 {
    background: linear-gradient(-60deg, #d0d0d0, #fff9ea)
}

.gallery {
    padding: 50px;
    text-align: center;
    text-decoration: underline;
    font-size: 2.0em;
}

.image {
    background-repeat: no-repeat;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    margin: 10px 5px;
    background-position: center;
    box-shadow: 0 0 8px 5px rgb(0, 0, 0, 0.05);
    transition: transform 0.5s;
}

.image:hover {
    transform: translateY(-10px);
}

.image1 {
    width: 400px;
    height: 300px;
    background-image: url(images/dylan-shaw-smUAKwMT8XA-unsplash\ \(1\).jpg);
}


.image2 {
    width: 464px;
    height: 300px;
    background-image: url(images/nilantha-sanjeewa-wyUWxYTW0PQ-unsplash\ \(1\).jpg);
}

.image3 {
    width: 241px;
    height: 300px;
    background-image: url(images/tobias-tullius-IiE50WMRa7I-unsplash\ \(1\).jpg);
}

.image4 {
    width: 345px;
    height: 300px;
    background-image: url(images/farhath-firows-vo0mwCg5FJc-unsplash\ \(1\).jpg);
}

.image5 {
    width: 200px;
    height: 300px;
    background-image: url(images/oliver-sjostrom-oixyQdGBkwQ-unsplash\ \(1\).jpg);
}

.image6 {
    width: 450px;
    height: 300px;
    background-image: url(images/egle-sidaraviciute-TsyNiYziKiQ-unsplash\ \(1\).jpg);
}

.image7 {
    width: 400px;
    height: 300px;
    background-image: url(images/jaromir-kavan-i9eaAR4dWi8-unsplash\ \(1\).jpg);
}

.image8 {
    width: 401px;
    height: 300px;
    background-image: url(images/road-trip-with-raj-0uI8LANIe0A-unsplash\ \(1\).jpg);
}