* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: black;
}

#backtotop {
    background-color: white;
    color: black;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    z-index: 99;
}

header {
    background-color: #ffffff;
    color: black;
    text-decoration: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

header .logo img {
    box-shadow: 0 0 8px 5px rgb(0, 0, 0, 0.05);
    border-radius: 50%;
    border: #000000;
}

.navigation a {
    color: black;
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.section_1 {
    background: linear-gradient(-60deg, #215391, #00adad);
    height: 800px;
    margin-top: 0px;
}

h1 {
    color: white;
    font-size: 5em;
    text-align: center;
    padding-top: 300px;
    text-shadow: 1px 2px 4px black;
}

.center_para {
    font-size: 1.3em;
    text-align: center;
    color: #ffffff;
}

.section_2 {

}

/* Default styles */
.destination {
    margin-top: 50px;
    text-align: center;
    text-decoration: underline;
    font-size: 2.0em;
  }
  
  .squreline {
    padding: 50px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .squreline a {
    width: 250px;
    height: 250px;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.05);
    margin: 0 0 30px 30px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.5s;
  }
  
  .squreline a .squre {
    font-size: 30px;
    line-height: 80px;
    position: relative;
    z-index: 10;
    transition: color 0.5s;
  }
  
  /* Media query for smaller screens*/
  @media screen and (max-width: px) {
    .squreline {
      padding: 50px 5%;
    }
  
    .squreline a {
      width: 200px;
      height: 200px;
      margin: 0 10px;
      font-size: 20px;
      line-height: 60px;
    }
  }
  

/*.destination {
    margin-top: 50px;
    text-align: center;
    text-decoration: underline;
}

.squreline {
    padding: 50px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.squreline a {
    width: 250px;
    height: 250px;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 8px 5px rgb(0, 0, 0, 0.05);
    margin: 0 30px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.5s;
}

.squreline a .squre {
    font-size: 30px;
    line-height: 80px;
    position: relative;
    z-index: 10;
    transition: color 0.5s;
}-*/

.squreline a::after {
    content: '';
    width: 100%;
    height: 100%;
    top: -260px;
    left: 0;
    
    position: absolute;
    transition: 0.5s;
}

.squreline .squre1 a::after {
    background: linear-gradient(-60deg, #bc3f11, #dac237);
}

.squreline .squre2 a::after {
    background: linear-gradient(-60deg, #6f2191, #ad009c);
}

.squreline .squre3 a::after {
    background: linear-gradient(-60deg, #185e13, #4aec29);
}

.squreline .squre4 a::after {
    background: linear-gradient(-60deg, #7f2246, #ff88b6);
}

.squreline a:hover::after {
    top: 0;
}

.squreline a:hover .squre {
    color: white;
}

.squreline a:hover {
    transform: translateY(-10px);
}

.section_3 {
    background: linear-gradient(-60deg, #215391, #00adad);
}

.sometext {
    padding-top: 50px;
    color: white;
    text-align: center;
    text-decoration: underline;
    font-size: 2.0em;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.para_1 {
    text-align: center;
    color: #cbc2c2;
    font-size: 18px;
}

.section_4 {
    background: linear-gradient(-60deg, #d0d0d0, #fff9ea)
}

.gallery {
    padding: 50px;
    text-align: center;
    text-decoration: underline;
    font-size: 2.0em;
}

.image {
    background-repeat: no-repeat;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    margin: 10px 5px;
    background-position: center;
    box-shadow: 0 0 8px 5px rgb(0, 0, 0, 0.05);
    transition: transform 0.5s;
}

.image:hover {
    transform: translateY(-10px);
}

.image1 {
    width: 400px;
    height: 300px;
    background-image: url(images/dylan-shaw-smUAKwMT8XA-unsplash\ \(1\).jpg);
}


.image2 {
    width: 464px;
    height: 300px;
    background-image: url(images/nilantha-sanjeewa-wyUWxYTW0PQ-unsplash\ \(1\).jpg);
}

.image3 {
    width: 241px;
    height: 300px;
    background-image: url(images/tobias-tullius-IiE50WMRa7I-unsplash\ \(1\).jpg);
}

.image4 {
    width: 345px;
    height: 300px;
    background-image: url(images/farhath-firows-vo0mwCg5FJc-unsplash\ \(1\).jpg);
}

.image5 {
    width: 200px;
    height: 300px;
    background-image: url(images/oliver-sjostrom-oixyQdGBkwQ-unsplash\ \(1\).jpg);
}

.image6 {
    width: 450px;
    height: 300px;
    background-image: url(images/egle-sidaraviciute-TsyNiYziKiQ-unsplash\ \(1\).jpg);
}

.image7 {
    width: 400px;
    height: 300px;
    background-image: url(images/jaromir-kavan-i9eaAR4dWi8-unsplash\ \(1\).jpg);
}

.image8 {
    width: 401px;
    height: 300px;
    background-image: url(images/road-trip-with-raj-0uI8LANIe0A-unsplash\ \(1\).jpg);
}

.footer {
    background-color: #110a2e;
    height: 300px;
}

.footerhead {
    padding: 30px;
    color: white;
    width: 160px;
}

.footerlinkhead {
    padding: 30px;
    color: white;
    width: 180px;
}

.footer .footer_section_1 .link {
    margin-left: 100px;
    color: white;
    text-decoration: none;
}

.footer .footer_section_1 .link a {
    color: white;
    text-decoration: none;
}

.footer .footer_section_2 .link_des {
    margin-left: 100px;
    color: white;
    text-decoration: none;
}

.footer .footer_section_2 .link {
    color: white;
    text-decoration: none;
}

/*.footer .footer_section_2 .link a {
    color: white;
    text-decoration: none;
}